{$HOSTNAME} {
  tls {$TLS_EMAIL}

  proxy / puma:3000 {
    transparent
  }

  cache {
    match_path /assets/
    status_header X-Cache-Status
    default_max_age 24h
    path /tmp/caddy-cache
  }
}
