main.created-user {
  padding: 3rem;

  dl {
    margin-left: 2rem;
    font-size: 16pt;
  }

  dt {
    width: 6rem;
    float: left;
  }

  dd {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}
